<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="printOnFilewatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <printOnFilewatch.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value>EPSON TM-S9000 Roll Paper</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="WatcherDirectory" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="FileFilter" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="HeaderLogo" serializeAs="String">
                <value>.\logo.png</value>
            </setting>
        </printOnFilewatch.Properties.Settings>
    </applicationSettings>
</configuration>
